@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    background-color: antiquewhite;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header h1 a {
    text-decoration: none;
    color: #000;
    margin: 1rem;
    font-family: "Merriweather", serif;
}

header .h1-span {
    color: #9D8420;
}

nav #mainMenu {
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    transition: top 1s ease 0s;
}

nav #mainMenu #closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.5rem;
    cursor: pointer;
}

nav #openMenu {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1rem;
    display: block;
}

nav #closeMenu, #openMenu {
    transition: all .2s;
}

nav #closeMenu:hover, #openMenu:hover {
    color: #942911;
}

nav #mainMenu li {
    list-style-type: none;
    margin-bottom: 2rem;
}

nav #mainMenu li a {
    font-size: 4rem;
    text-decoration: none;
    color: #000;
    font-family: "Roboto", sans-serif;
    transition: all .4s;
}

nav #mainMenu li a:hover {
    position: relative;
    color: #942911;
}

nav a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #942911;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .4s ease-in-out;
}

nav a:hover::before {
    position: absolute;
    visibility: visible;
    transform: scaleX(1);
}

span {
    color: #942911;
}

main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

main .text {
    padding-top: 140px;
}

main .text {
    max-width: 700px;
    margin: auto;
}

main .text .link {
    font-size: 1.4rem;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
    transition: all .2s;
    background-color: #942911;
}

main .text p {
    font-size: 1.2rem;
    line-height: 28px;
}

main .text .link:hover {
    color: antiquewhite;
}

main .grid .text h1 {
    font-family: "Merriweather", serif;
    font-size: 3rem;
    color: #942911;
}

main .text {
    margin-bottom: 2rem;
}

main .text h2 {
    font-family: "Merriweather", serif;
    font-size: 2.5rem;
    color: #942911;
}

main .section {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .section a img {
    width: 80%;
}

main .text .article-link {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    transition: all .2s;
    
}

main .text .article-link:hover {
    text-decoration: underline;
    color: #942911;
}

main .grid .background-left {
    width: 50%;
    height: 100%;
    position: fixed;
}

main .grid .title {
    position: fixed;

    display: flex;
    flex-direction: column;
   
    bottom: 20px;
    left: 20px;

    font-size: 5rem;
    font-family: "Merriweather", serif; 
    color: #fff;
    text-decoration: none;
}

.read {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .2s;
}

.read:hover {
    text-decoration: underline;
    color: #942911;
}

@media (max-width: 700px) {
    
    main {
        margin-bottom: 2rem;
    }

    main .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    main .text {
        max-width: 350px;
        padding-top: 10px;
    }
    
    main .text a {
        font-size: 1.3rem;
    }
    
    main .text p {
        font-size: 1.1rem;
    }
    
    main .grid .text h1 {
        font-family: "Merriweather", serif;
        font-size: 3rem;
        color: #942911;
    }
    
    main .grid .background-left {
       width: 100%;
       position: relative;
    }
    
    main .section {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    main .section a img {
        width: 100%;
    }

    main .grid .title {
        position: absolute;

        bottom: 120px;
        left: 20px;

        font-size: 4rem;
        
    }
}